/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #004d00;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 3px solid #008000;
}

header .logo {
    max-width: 230px;
}

main {
    padding: 2rem;
    text-align: center;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

h1 {
    margin-bottom: 1rem;
    color: #004d00;
   font-family: "Bebas Neue", sans-serif;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.video-container {
    margin-top: 2rem;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #004d00;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #008000;
}
/* Styles for the navigation bar */
nav {
    text-align: center;
    margin-top: 1rem; /* Adjust spacing */
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
    background-color: #fff;
    color: #004d00;
}


/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .content {
        padding: 1rem;
    }

    .video-container video {
        width: 100%;
        height: auto;
    }
}


